<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <p><button type="submit" class="btn btn-dark btn-lg"><a routerLink="/profile" class="text-secondary">Home</a></button></p>
      </li>
      <li class="nav-item">
        <p><button type="button" class="btn btn-dark btn-lg"><a routerLink="/journal" class="text-secondary">My Journal Entries</a></button></p>
      </li>
      <li class="nav-item dropdown">
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" (click)="goHome()" class="btn btn-sm btn-dark dropdown-toggle">
            Settings<span class="caret"></span>
          </button>
        </div>
      </li>
    </ul>
      <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="logout()" type="button">Logout</button>
  </div>
</nav>

  <div class="container py-5">
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                  <div class="card rounded-15">
                      <div class="card-header">
                          <h3 class="mb-0">Update Account Information</h3>
                        </div>
                      <div class="card-body">
                          <div class="form-group">
                                <input type="text" name="name" class="form-control form-control-lg rounded-1" placeholder="Name" [(ngModel)]="user.name"/>
                              </div>
                              <div class="form-group">
                                  <input type="text" name="email" class="form-control form-control-lg rounded-1" placeholder="Email" [(ngModel)]="user.email"/>
                              </div>
                              <div class="form-group">
                                  <input type="text" name="username" class="form-control form-control-lg rounded-1" placeholder="Username" [(ngModel)]="user.username"/>                              </div>
                              <div class="form-group">
                                  <input type="password" name="password" class="form-control form-control-lg rounded-1" placeholder="Password" [(ngModel)]="user.password"/>                              </div>
                                  <button type="button" (click)="updateUser()" class="btn btn-primary">Submit Change</button>
                                  <a routerLink="/profile" class="btn btn-link">Cancel</a>
                          </div>
                      <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                  </div>
                </div>
              </div>
            </div>
          </div>
