<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <p><button type="submit" class="btn btn-lg" routerLink="/login" >Login</button></p>
      </li>
      <li class="nav-item">
        <p><button type="button" class="btn btn-dark btn-lg" routerLink="/register" >Register</button></p>
      </li>
    </ul>
  </div>
</nav>
<ng-flash-message></ng-flash-message>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                  <!-- form card login -->
                <div class="card rounded-5">
                    <div class="card-header">
                        <h3 class="mb-0">Login</h3>
                      </div>
                    <div class="card-body">
                        <form class="form" role="form" method="POST">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control form-control-lg rounded-1" name="username" [(ngModel)]="user.username" required="">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control form-control-lg rounded-1" name="password" [(ngModel)]="user.password" required="">
                            </div>
                            <button type="submit" class="btn btn-success btn-lg float-right" (click)="login()" >Login</button>
                        </form>
                    </div>
                    <!--/card-block-->
                  </div>
                  <!-- /form card login -->
                </div>


          </div>
          <!--/row-->

      </div>
      <!--/col-->
  </div>
  <!--/row-->
</div>
