<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <p><button type="submit" class="btn btn-dark btn-lg" routerLink="/profile">Home</button></p>
      </li>
      <li class="nav-item">
        <p><button type="button" class="btn btn-dark btn-lg" routerLink="/journal">My Journal Entries</button></p>
      </li>
      <li class="nav-item dropdown">
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-sm btn-dark dropdown-toggle">
            Settings<span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" routerLink="/update">Update Account</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item text-danger" (click)="deleteUser()">Delete Account</a></li>
          </ul>
        </div>
      </li>
    </ul>
      <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="logout()" type="button">Logout</button>
  </div>
</nav>
  <h1 class="text-center">Welcome to your Journal {{name}}</h1>
<ng-flash-message></ng-flash-message>
<div class="journal" width="auto" height="auto">
    <form>
        <div class="journal-425">
          <input type="text" name="mood"   [(ngModel)]="jentry.mood" placeholder="How do you feel?">
          <input type="text" name="location"   [(ngModel)]="jentry.location" placeholder="Where are you?">
          <p>{{date | date}}</p>
          <button id="saveJentry" type="submit" (click)="saveJournalEntry()" class="btn btn-secondary my-2 my-sm-0">Save Entry</button>
        </div>
        <div class="journal-425">
          <textarea name="journalEntry" [(ngModel)]="jentry.journalEntry"></textarea>
        </div>
    </form>
</div>
